<div class="jumbotron">
    <div ng-if="user.username">
        <p>Logged in as {{user.name}} <{{user.username}}></p>
    </div>
    <div ng-if="!user.username">
        <h2>Login</h2>
        <form ng-submit="login()">
            <div ng-if="loginForm.error">
                <div class="alert alert-danger" ng-bind="loginForm.error"></div>
            </div>

            <div class="form-group">
                <label for="loginEmail">Email/Username</label>
                <input type="text" class="form-control" id="loginEmail" name="username" placeholder="Email" ng-model="loginForm.username">
            </div>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Password" ng-model="loginForm.password">
            </div>
            <!--
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
            </div>
            -->
            <input type="submit" class="btn btn-primary" value="Login"></input>
        </form>
    </div>
</div>