<div class="jumbotron">

    <p>
        <b>Select Chart Type</b>
        <select ng-model="state.chart_selected" ng-options="table.id as table.name for (id, table) in data.tables" ng-change="load(state.chart_selected)">
            <!--<option value="">--- Select ---</option>-->
        </select>
    </p>

    <table class="table table-striped table-bordered table-hover" ts-wrapper>
        <thead>
            <tr>
                <th ng-repeat="(field_id, field_name) in data.tables[state.chart_selected].fields" ng-bind="field_name" ts-criteria="{{field_id}}"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.charts[state.chart_selected]" ts-repeat>
                <td ng-repeat="(field_id, field_name) in data.tables[state.chart_selected].fields" ng-bind="row[field_id]"></td>
            </tr>
        </tbody>
    </table>

</div>
