/* line 2, ../../scss-src/includes/elements.scss */
textarea.code {
  width: 100%;
}

/* line 6, ../../scss-src/includes/elements.scss */
input.ng-invalid,
textarea.ng-invalid {
  border: 2px solid red;
}

/* line 10, ../../scss-src/includes/elements.scss */
form.ng-invalid button {
  display: none;
}
